<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password email</title>
</head>
<body>
    <div>Reset password - <strong th:text="${email}"></strong></div>
    <div> Your token is <strong th:text="${token}"></strong></div>
    <div>Your token has expiration date, expiration time is 5 minutes.</div>
</body>
</html>